@page
@model PhotoAlbum_Eyac.Pages.ArtModel
@{
}
<link rel="stylesheet" href="~/css/Art.css" asp-append-version="true" />
<div class="container">
    <div class="heading">
        <h3>Human Art <span>Passion</span></h3>
    </div>
    <div class="box">

        <div class="selected"> 
            <a href="~/Resources/images/Art/1.jpg" class="glightbox preview-link">
            <img src="~/Resources/images/Art/1.jpg">
            <div class="caption">10. Fallen Angel</div>
            </a>

        </div>

        <div class="fourflex">
            <div class="fourflexone">

                <a href="~/Resources/images/Art/6.jpg" class="glightbox preview-link">
                    <img src="~/Resources/images/Art/6.jpg">
                    <div class="caption">9. Solarpunk</div>
                </a>                

                <a href="~/Resources/images/Art/8.jpg" class="glightbox preview-link">
                    <img src="~/Resources/images/Art/8.jpg">
                    <div class="caption">7. The Kiss</div>
                </a>
                
            </div>

            <div class="fourflextwo">
                <a href="~/Resources/images/Art/7.jpg" class="glightbox preview-link">
                    <img src="~/Resources/images/Art/7.jpg">
                    <div class="caption">8. The Eyes</div>
                </a>
                

                <a href="~/Resources/images/Art/9.jpg" class="glightbox preview-link">
                    <img src="~/Resources/images/Art/9.jpg">
                    <div class="caption">6. Abstraction</div>
                </a>
                
            </div>

        </div>

        <div class="selected">
            <a href="~/Resources/images/Art/10.jpg" class="glightbox preview-link">
                <img src="~/Resources/images/Art/10.jpg">
                <div class="caption">5. Wanderer Above The Fog</div>
            </a>
            


        </div>
        <div class="selected">
            <a href="~/Resources/images/Art/11.jpg" class="glightbox preview-link">
                <img src="~/Resources/images/Art/11.jpg">
                <div class="caption">4. The Great Wave of Kanagawa</div>
            </a>
            


        </div>
        <div class="fourflex">
            <div class="fourflexone">
                <a href="~/Resources/images/Art/12.jpg" class="glightbox preview-link">
                    <img src="~/Resources/images/Art/12.jpg">
                <div class="caption">3. Judith Beheading Holofernes</div>
                </a>
                
            </div>
            <div class="fourflextwo">
                <a href="~/Resources/images/Art/13.jpg" class="glightbox preview-link">
                    <img src="~/Resources/images/Art/13.jpg">
                    <div class="caption">2. Filipino BBQ Business</div>
                </a>
                
            </div>
        </div>
        <div class="selected">
            <a href="~/Resources/images/Art/14.jpg" class="glightbox preview-link">
                <img src="~/Resources/images/Art/14.jpg">
                <div class="caption">1. Ivan the Terrible and his Son Ivan</div>
            </a>
            

        </div>
    </div>

</div>
