@page
@model PhotoAlbum_Eyac.Pages.CharactersModel
@{
    ViewData["Title"] = "Characters";
}
<link href="~/css/character.css" rel="stylesheet" type="text/css" />

<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="heading">
        <h3><span>Note-worthy</span> Characters</h3>
    </div>
</section><!-- End Hero Section -->

<div class="lookbook-gallery">
<div class="lookbook-grid" role="region">

    <figure class="model">
        <a href="~/Resources/images/characters/1.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/1.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">PRINCE ZUKO | Avatar: The Last Air Bender</h3>
            <p>Zuko is a skilled firebender and a complex character transitioning from a vengeful antagonist to a compassionate ally of the main character.<p>
        </figcaption>
        </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/2.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/2.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">NEO | The Matrix</h3>
            <p>A computer programmer who becomes aware that the reality he knows is a simulated world created by machines.<p>
        </figcaption>
        </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/3.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/3.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">PAIN | Naruto: Shippuden</h3>
            <p>Pain is a complex character with a tragic backstory who seeks to create peace through violent means.<p>
        </figcaption>
            </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/4.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/4.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">SETSUKO | Grave of the Fireflies</h3>
            <p>She is a tragic character who displays innocence, vulnerability, and courage in the face of the horrors of war.<p>
        </figcaption>
            </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/5.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/5.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">JINX | Arcane</h3>
            <p>Jinx is a skilled and unpredictable criminal who seeks revenge against those she believes wronged her in the past.<p>
        </figcaption>
        </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/6.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/6.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">HANNAH GROSE | The Haunting of Bly Manor</h3>
            <p>Her character personifies the horrors of dementia as she navigates through the haunted house with more and more distorted perception of time.<p>
        </figcaption>
        </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/10.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/10.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">GERALT OF RIVIA | The Witcher</h3>
            <p>Geralt of Rivia is a skilled monster hunter known as a Witcher who possesses superhuman abilities and an encyclopedic knowledge of various creatures. He is a complex character who often struggles to find his place in a world that views Witchers with suspicion, and his story arc explores themes of destiny, morality, and the consequences of choice.
        </figcaption>
        </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/8.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/8.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">PIETRO MAXIMOFF | Avengers: Age of Ultron</h3>
            <p>With the ability to move at extreme speeds, and he allied with the villainous Ultron before ultimately switching sides to help the Avengers. He is a charismatic character who shares a close bond with his twin sister, the Scarlet Witch.
        </figcaption>
        </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/9.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/9.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">Bent Neck Lady | The Haunting of Hill House</h3>
            <p>A ghost in a haunted house story that has so much significance. Her story arc explores themes of grief, trauma, and the enduring power of family ties.<p>
        </figcaption>
        </a>
    </figure>

    <figure class="model">
        <a href="~/Resources/images/characters/7.jpg" class="glightbox preview-link">
        <img src="~/Resources/images/characters/7.jpg" />
        <figcaption class="model--caption">
            <h3 class="model-hed">TANYA MCQUOID | The White Lotus</h3>
            <p>Tanya McQuoid is a well-written character from The White Lotus due to her complex and dynamic personality, which includes humor, grief, and a deep longing for connection.<p>
        </figcaption>
            </a>
    </figure>
</div>
</div>

