@page
@model PhotoAlbum_Eyac.Pages.FilmsModel
@{
    ViewData["Title"] = "Pool Outings";
}
<link rel="stylesheet" type="text/css" href="~/css/films.css">
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="heading">
        <h2>Movies and Films</h2>
    </div>
</section><!-- End Hero Section -->
<div class="entire">
	<div class="containerF">

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=T6DJcgm3wNY"
			   data-title="Man of Steel"
			   data-description="With the imminent destruction of Krypton, their home planet, Jor-El (Russell Crowe) and his wife seek to preserve their race by sending their infant son to Earth. The child's spacecraft lands at the farm of Jonathan (Kevin Costner) and Martha (Diane Lane) Kent, who name him Clark and raise him as their own son. Though his extraordinary abilities have led to the adult Clark (Henry Cavill) living on the fringe of society, he finds he must become a hero to save those he loves from a dire threat." class="glightbox preview-link">
				<div class="movie-header manOfSteel">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Man of Steel</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Movie</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>PG-13</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=xi-1NchUqMA"
			   data-title="Knives Out"
			   data-description="The circumstances surrounding the death of crime novelist Harlan Thrombey are mysterious, but there's one thing that renowned Detective Benoit Blanc knows for sure -- everyone in the wildly dysfunctional Thrombey family is a suspect. Now, Blanc must sift through a web of lies and red herrings to uncover the truth." class="glightbox preview-link">
			<div class="movie-header knivesOut">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Knives Out</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★★</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Movie</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>PG-13</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=ATJYac_dORw"
			   data-title="Kimetsu no Yaiba"
			   data-description="After his family is slaughtered by demons, a young boy sets out on a quest to become a demon slayer and protect humanity." class="glightbox preview-link">
			<div class="movie-header slayer">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Kimetsu no Yaiba</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★★</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-MA</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->
		
		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=IMlkSMbYiAw"
			   data-title="A Series of Unfortunate Events"
			   data-description="Based on the popular book series, this show follows the three Baudelaire children as they try to outsmart their evil guardian Count Olaf, who is determined to get his hands on their family fortune.">
			<div class="movie-header series">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">A Series of Unfortuante Events</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-MA</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=rK-JQU_bShc"
			   data-title="Do Revenge"
			   data-description="Popular Drea wants revenge on her boyfriend for publishing her sex tape, and exchange student Eleanor is haunted by a rumour. The two teenagers team up to take action against their tormentors." class="glightbox preview-link">
			<div class="movie-header revenge">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Do Revenge</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★☆☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Movie</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>R</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=3eqxXqJDmcY"
			   data-title="The Haunting of Hill House"
			   data-description="This series follows a group of siblings who grew up in the most famous haunted house in the country, and return as adults to confront the ghosts of their past." class="glightbox preview-link">
			<div class="movie-header haunting">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">The Haunting of Hill House</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-MA</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=C3RelY-coKE"
			   data-title="Fractured"
			   data-description="After a car accident, a man's wife and daughter go missing and he begins to unravel dark secrets about the hospital they were taken to." class="glightbox preview-link">
			<div class="movie-header fractured">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Fractured</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★☆☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Movie</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-MA</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=uLtkt8BonwM"
			   data-title="The Last of Us"
			   data-description="In a post-apocalyptic world, a man and a young girl must cross the country to reach a safe haven, facing danger and difficult choices along the way." class="glightbox preview-link">
			<div class="movie-header lastOfUs">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">The Last of Us</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>N/A</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>M</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=4vPeTSRd580"
			   data-title="Grave of the Fireflies"
			   data-description="Set in Japan during World War II, this film tells the story of two siblings who struggle to survive after their hometown is destroyed in a bombing raid." class="glightbox preview-link">
			<div class="movie-header grave">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Grave of the Firelies</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★★</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Movie</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>Unrated</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=ndl1W4ltcmg"
			   data-title="The Witcher"
			   data-description="Based on the popular book series, this show follows the adventures of Geralt of Rivia, a monster hunter in a medieval fantasy world." class="glightbox preview-link">
			<div class="movie-header theWitcher">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">The Witcher</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-MA</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=wUFwunMKa4E"
			   data-title="Love Death Robots"
			   data-description="This animated anthology series features a collection of short sci-fi stories that explore the darker side of technology, humanity, and the future." class="glightbox preview-link">
			<div class="movie-header ldr">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Love Death Robots</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-MA</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=aWzlQ2N6qqg"
			   data-title="Doctor Strange Multiverse of Maddness"
			   data-description="In this Marvel film, Doctor Strange must team up with other heroes to face a threat that spans multiple dimensions, while also confronting the darker parts of his own past." class="glightbox preview-link">
			<div class="movie-header strange">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Doctor Strange: Multiverse of Maddness</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>N/A</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Movie</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>PG-13</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->
				
		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=QkT-HIMSrRk"
			   data-title="13 Reasons Why"
			   data-description="Based on the best-selling book, this series follows high school student Clay Jensen as he investigates the mysterious suicide of his friend and classmate Hannah Baker, who left behind 13 tapes detailing the reasons why she decided to take her own life. The show explores sensitive themes such as bullying, sexual assault, and mental health, and has sparked important discussions about the impact of these issues on young people." class="glightbox preview-link">
			<div class="movie-header reasons">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">13 Reasons Why</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★☆☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-MA</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->

		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=ApLudqucq-s"
			   data-title="The Promised Neverland"
			   data-description="This anime series follows a group of children who live in a seemingly idyllic orphanage, but discover a dark truth about their" class="glightbox preview-link">
			<div class="movie-header promised">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">The Promised Neverland</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-14</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->
		
		<div class="movie-card">
			<a href="https://www.youtube.com/watch?v=KQ9Cgdsa9tc"
			   data-title="Rick and Morty"
			   data-description="This animated series follows the adventures of a cynical and alcoholic scientist named Rick Sanchez and his good-hearted but easily influenced grandson Morty. The duo travels through different dimensions and parallel universes, encountering strange creatures and facing various dangers. " class="glightbox preview-link">
			<div class="movie-header rick">
				<div class="header-icon-container">
				</div>
			</div><!--movie-header-->
			<div class="movie-content">
				<div class="movie-content-header">
					<p class="movie-title">Rick and Morty</p>
					<div class="imax-logo"></div>
				</div>
				<div class="movie-info">
					<div class="info-section">
						<label>Ratings</label>
						<span>★★★★☆</span>
					</div><!--date,time-->
					<div class="info-section">
						<label>Type</label>
						<span>Series</span>
					</div><!--screen-->
					<div class="info-section">
						<label>Restriction</label>
						<span>TV-MA</span>
					</div><!--row-->
				</div>
			</div><!--movie-content-->
			</a>
		</div><!--movie-card-->



		

	</div><!--container-->

</div>
