@page
@model PhotoAlbum_Eyac.Pages.FindsModel
@{
    ViewData["Title"] = "Random Finds";
}
<main id="main" data-aos="fade" data-aos-delay="1500">
    <!-- ======= Start Intro ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Random Online Shopping Finds</h2>
                    <p>Do you have so much money that you have no idea what to buy? Well, you've come to the right place</p>
                </div>
            </div>
        </div>
    </div><!-- End Intro -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/1.jpg"
                           data-title="Dancing & Talking Cactus" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/1.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/13.jpg"
                           data-title="Anti-bacterial Mounted Toothbrush Holder" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/13.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/14.jpg"
                           data-title="Srub Daddeh" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/14.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/4.jpg"
                           data-title="Piattos: Cheese Flavored Potato Chips" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/4.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/5.jpg"
                           data-title="Mug Heater" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/5.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/6.jpg"
                           data-title="Keyboard Cover: Slip-on" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/6.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/7.jpg"
                           data-title="Stationery Organizer" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/7.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/8.jpg"
                           data-title="Crochet Coasters" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/8.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/9.jpg"
                           data-title="Estetik Notebook" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/9.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/10.jpg"
                           data-title="Osmo Automatic Pepper Shaker" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/10.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/11.jpg"
                           data-title="Maxx Candy: Lemon Flavor" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/11.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/12.jpg"
                           data-title="Apollo Bluetooth Speaker" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/12.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/2.jpg"
                           data-title="Study Lamp" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/2.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/15.jpg"
                           data-title="Girl Gamer's Bath Water" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/15.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/finds/3.jpg"
                           data-title="Desk MatMat" class="glightbox preview-link">
                            <img src="~/Resources/images/finds/3.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

                





            </div>

        </div>
    </section><!-- End Gallery Section -->

</main><!-- End #main -->