@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>Welcome to <span>My Photo Album,</span></h2>  
                <p> a collection of different captivating photographs.</p>
                <a asp-page="/Videogames" class="btn-get-started">Start browsing (Videogames link)</a>
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->