@page
@model PhotoAlbum_Eyac.Pages.PersonalModel
@{
    ViewData["Title"] = "Pool Outings";
}

<link rel="stylesheet" type="text/css" href="~/css/Personal.css">
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="heading">
        <h2><span>Personal</span> Pictures</h2>
    </div>
</section><!-- End Hero Section -->
<div class="box">

    <div class="childhood">
        <h3 class="caption">Cute Throwbacks</h3>
        <a href="~/Resources/images/personal/1.jpg" title="Throwaback Pictures" class="glightbox preview-link one">
            <img class="one" src="~/Resources/images/personal/1.jpg">
        </a>
        <a href="~/Resources/images/personal/2.jpg" title="Throwaback Pictures" class="glightbox preview-link two">
            <img class="two" src="~/Resources/images/personal/2.jpg">
        </a>
        <a href="~/Resources/images/personal/3.jpg" title="Throwaback Pictures" class="glightbox preview-link three">
            <img class="three" src="~/Resources/images/personal/3.jpg">
        </a>
        <a href="~/Resources/images/personal/4.jpg" title="Throwaback Pictures" class="glightbox preview-link four">
            <img class="four" src="~/Resources/images/personal/4.jpg">
        </a>
    </div>


    <div class="friendGroup">
        <h3 class="caption">Friend Groups</h3>
        <a href="~/Resources/images/personal/8.jpg" title="Friend Circles" class="glightbox preview-link eight">
            <img class="eight" src="~/Resources/images/personal/8.jpg">
        </a>
        <a href="~/Resources/images/personal/9.jpg" title="Friend Circles" class="glightbox preview-link nine">
            <img class="nine" src="~/Resources/images/personal/9.jpg">
        </a>
        <a href="~/Resources/images/personal/10.jpg" title="Friend Circles" class="glightbox preview-link ten">
            <img class="ten" src="~/Resources/images/personal/10.jpg">
        </a>
        <a href="~/Resources/images/personal/11.jpg" title="Friend Circles" class="glightbox preview-link eleven">
            <img class="eleven" src="~/Resources/images/personal/11.jpg">
        </a>
        <a href="~/Resources/images/personal/12.jpg" title="Friend Circles" class="glightbox preview-link twelve">
            <img class="twelve" src="~/Resources/images/personal/12.jpg">
        </a>   
        
    </div>

    <div class="personal">
        <h3 class="caption">Dwight Moments</h3>
        <a href="~/Resources/images/personal/13.jpg" title="Dwight Moments" class="glightbox preview-link one">
            <img class="one" src="~/Resources/images/personal/13.jpg">
        </a>
        <a href="~/Resources/images/personal/14.jpg" title="Dwight Moments" class="glightbox preview-link two">
            <img class="two" src="~/Resources/images/personal/14.jpg">
        </a>
        <a href="~/Resources/images/personal/15.jpg" title="Dwight Moments" class="glightbox preview-link three">
            <img class="three" src="~/Resources/images/personal/15.jpg">
        </a>
        <a href="~/Resources/images/personal/16.jpg" title="Dwight Moments" class="glightbox preview-link four">
            <img class="four" src="~/Resources/images/personal/16.jpg">
        </a>  
        
    </div>
    <div class="shs">
        <h3 class="caption">Senior High Highness</h3>
        <a href="~/Resources/images/personal/21.jpg" title="Senior High School" class="glightbox preview-link one">
            <img class="one" src="~/Resources/images/personal/21.jpg">
        </a>
        <a href="~/Resources/images/personal/22.jpg" title="Senior High School" class="glightbox preview-link two">
            <img class="two" src="~/Resources/images/personal/22.jpg">
        </a>
        <a href="~/Resources/images/personal/23.jpg" title="Senior High School" class="glightbox preview-link three">
            <img class="three" src="~/Resources/images/personal/23.jpg">
        </a>    
        
    </div>

</div>