@page
@model PhotoAlbum_Eyac.Pages.PoolModel
@{
    ViewData["Title"] = "Pool Outings";
}

<link rel="stylesheet" type="text/css" href="~/css/Personal.css">
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="heading">
        <h2><span>Swimming</span> Outings</h2>
    </div>
</section><!-- End Hero Section -->
<div class="box">
    <div class="swimHipodromo">
        <h3 class="caption">Swimming Friend Group #1</h3>
        <a href="~/Resources/images/personal/5.jpg" title="Swimming w/ Childhood Friends" class="glightbox preview-link five">
            <img class="five" src="~/Resources/images/personal/5.jpg">
        </a>
        <a href="~/Resources/images/personal/6.jpg" title="Swimming w/ Childhood Friends" class="glightbox preview-link six">
            <img class="six" src="~/Resources/images/personal/6.jpg">
        </a>
        <a href="~/Resources/images/personal/7.jpg" title="Swimming w/ Childhood Friends" class="glightbox preview-link seven">
            <img class="seven" src="~/Resources/images/personal/7.jpg">
        </a>
    </div>

    <div class="swimmingOld">
        <h3 class="caption">School-End Pool Party 2019</h3>
        <a href="~/Resources/images/personal/17.jpg" title="School-End Pool Party 2019" class="glightbox preview-link one">
            <img class="one" src="~/Resources/images/personal/17.jpg">
        </a>
        <a href="~/Resources/images/personal/18.jpg" title="School-End Pool Party 2019" class="glightbox preview-link two">
            <img class="two" src="~/Resources/images/personal/18.jpg">
        </a>
        <a href="~/Resources/images/personal/19.jpg" title="School-End Pool Party 2019" class="glightbox preview-link three">
            <img class="three" src="~/Resources/images/personal/19.jpg">
        </a>
        <a href="~/Resources/images/personal/20.jpg" title="School-End Pool Party 2019" class="glightbox preview-link four">
            <img class="four" src="~/Resources/images/personal/20.jpg">
        </a>
    </div>

    <div class="villa">
        <h3 class="caption">Villa Swimming 2022</h3>
        <a href="~/Resources/images/personal/24.jpg" title="Villa Swimming 2022" class="glightbox preview-link one">
            <img class="one" src="~/Resources/images/personal/24.jpg">
        </a>
        <a href="~/Resources/images/personal/25.jpg" title="Villa Swimming 2022" class="glightbox preview-link two">
            <img class="two" src="~/Resources/images/personal/25.jpg">
        </a>
        <a href="~/Resources/images/personal/26.jpg" title="Villa Swimming 2022" class="glightbox preview-link three">
            <img class="three" src="~/Resources/images/personal/26.jpg">
        </a>
        <a href="~/Resources/images/personal/27.jpg" title="Villa Swimming 2022" class="glightbox preview-link four">
            <img class="four" src="~/Resources/images/personal/27.jpg">
        </a>
        <a href="~/Resources/images/personal/28.jpg" title="Villa Swimming 2022" class="glightbox preview-link five">
            <img class="five" src="~/Resources/images/personal/28.jpg">
        </a>
        <a href="~/Resources/images/personal/29.jpg" title="Villa Swimming 2022" class="glightbox preview-link six">
            <img class="six" src="~/Resources/images/personal/29.jpg">
        </a>
    </div>

</div>