@page
@model PhotoAlbum_Eyac.Pages.VideogamesModel
@{
    ViewData["Title"] = "Videogames";
}
<main id="main" data-aos="fade" data-aos-delay="1500">
    <!-- ======= Start Intro ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Top Videogame Picks</h2>
                    <p>A list of video games that I have played throughout my life. Overall, these games represent the pinnacle of gaming excellence in my opinion and are a must-play for any video game enthusiast.</p>
                </div>
            </div>
        </div>
    </div><!-- End Intro -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/1.png"
                            data-title="Resident Evil: 4"
                            data-description="Widely acclaimed by critics and fans alike, and is considered one of the greatest games of all time. It also has a significant impact on the survival horror genre, and has inspired numerous other games." class="glightbox preview-link">
                        <img src="~/Resources/images/videogames/1.png" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <i class="bi bi-arrows-angle-expand"></i>
                        </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/2.png" data-title="Naruto Shippuden: Ultimate Ninja Impact"
                           data-description="An action-packed fighting game for the PlayStation Portable, featuring a large roster of characters and an engaging storyline based on the popular Naruto Shippuden anime and manga series."class="glightbox preview-link">
                        <img src="~/Resources/images/videogames/2.png" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <i class="bi bi-arrows-angle-expand"></i>
                        </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/3.png" data-title="Dota 2"
                           data-description="Dota 2 is a highly competitive and strategic multiplayer game that offers an incredibly deep and rewarding experience, with a huge roster of diverse heroes, endless gameplay possibilities, and a massive community of players to interact and compete with, providing a unique and unforgettable gaming experience." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/3.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/4.png" data-title="Valorant"
                           data-description="Valorant is a fast-paced and highly tactical team-based shooter game that combines precise gunplay, unique agent abilities, and strategic gameplay, offering a competitive and adrenaline-fueled experience that rewards teamwork, skill, and strategy."class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/4.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/5.png" data-title="Microsoft Solitare"
                           data-description="A timeless and classic card game experience that can be enjoyed anytime, anywhere, with a simple yet addictive gameplay that has been entertaining players for decades and continues to be a popular choice for casual gaming." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/5.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/6.png" data-title="Ratchet & Clank: Size Matters"
                           data-description="A thrilling and visually stunning platformer game that takes players on an action-packed adventure through various worlds, filled with exciting and over-the-top weapons, puzzles, and boss battles, all while experiencing the humor and charm of its beloved characters." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/6.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/7.png" data-title="Tetris: Facebook Game"
                           data-description="Tetris on Facebook is a classic puzzle game where players must fit different shaped blocks together to complete horizontal lines and prevent the blocks from reaching the top of the screen, and it can be played as a standalone game or with friends for added competition and fun." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/7.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/8.png" data-title="Shrek: Smash N' Crash Racing"
                           data-description="A fun and exciting kart racing game featuring beloved characters from the Shrek universe, where players can compete in wild races, perform daring stunts, and use power-ups to gain an advantage and become the ultimate champion." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/8.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/9.png" data-title="Plants vs Zombies"
                           data-description="A fun and challenging tower defense game where players must strategically place different types of plants to defend their home against hordes of zany and quirky zombies, providing hours of entertaining gameplay with various modes and levels to play." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/9.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/10.png" data-title="Tekken 6"
                           data-description="Tekken 6 is an exhilarating and well-crafted fighting game with a vast character roster, smooth mechanics, and stunning visuals, providing a thrilling and challenging gameplay experience that can be enjoyed both casually and competitively." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/10.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/11.png" data-title="Grand Theft Auto: san Andreas"
                           data-description="Experience an immersive open-world gameplay with an engaging storyline, diverse missions, and endless possibilities for chaos and fun in GTA San Andreas." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/11.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/12.png" data-title="Left 4 Dead"
                           data-description="Play Left 4 Dead for a thrilling co-op experience, intense zombie-killing action, and a replayable gameplay that never gets old." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/12.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/13.png" data-title="Minecraft"
                           data-description="Play Minecraft for limitless creativity, adventure, and fun in a vast sandbox world where you can build, explore, and survive." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/13.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/14.png" data-title="Mortal Kombat"
                           data-description="Brutal, satisfying combat, iconic characters, and a deep lore that keeps you engaged and coming back for more." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/14.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/15.png" data-title="Crossfire PH"
                           data-description="Play Crossfire for intense multiplayer action, diverse game modes, and a satisfying progression system that keeps you hooked." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/15.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/16.png" data-title="Crash Bandicoot"
                           data-description="Crash Bandicoot offers a nostalgic, challenging platformer with lovable characters and memorable levels that will keep you entertained for hours." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/16.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/17.png" data-title="NBA: 2K16"
                           data-description="NBA 2K16 is a basketball simulation game that offers stunning graphics, realistic gameplay, and a plethora of game modes, making it the ultimate basketball experience." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/17.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/18.png" data-title="Prototype 2"
                           data-description="Action-packed open-world experience with a unique and versatile shapeshifting protagonist, where players can wreak havoc and unleash their inner monster as they uncover the truth behind a deadly virus outbreak." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/18.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/19.png" data-title="The Witcher 3"
                           data-description="The Witcher 3 is a masterpiece RPG with a vast open-world, unforgettable characters, and an immersive storyline that keeps you engaged for hours on end." class="glightbox preview-link">
                            <img src="~/Resources/images/videogames/19.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <a href="~/Resources/images/videogames/20.png" data-title="Counter Strike: Global Offensive"
                           data-description="CS:GO is a highly competitive first-person shooter game that requires skill, strategy, and teamwork, with a thriving esports scene and a passionate community.">
                            <img src="~/Resources/images/videogames/20.png" class="img-fluid" alt="">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- End Gallery Item -->

            </div>

        </div>
    </section><!-- End Gallery Section -->

</main><!-- End #main -->